# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Environment files
.env

# Build output
dist/
build/
out/
tmp/
*.tmp
*.tmp.*
*.swp

# OS or Editor temporary files
.DS_Store
Thumbs.db
